<ion-view view-title="درباره ی ما">
    <ion-content>
        <div class="list">
            <div class="item item-thumbnail-left ">
                <img src="img/b.png" class="animated fadeInRightBig">
                <h2 class="animated fadeInRightBig" style="margin-top: 15px">B! Software</h2>
                <p  class="animated fadeInRightBig"><strong>Email:</strong> B-Software@outlook.com</p>
            </div>

            <div class="item item-divider animated fadeInLeftBig">
                Creator:
            </div>


            <div class="card" style="box-shadow: 10px 10px 5px #888888">
                <ul class="item item-text-wrap row">
                    <li class="col">
                        <img class="animated fadeInUpBig" src="img/ps.png" height="100%" width="100%"  style="max-height: 200px">
                    </li>

                    <li class="col col-75">
                        <h2 class="animated fadeInRightBig"  style="margin-top: 10px; margin-left: 20px  "><strong>Sepehr BehnamiFar</strong></h2>
                        <a class="item item-icon-left animated fadeLeftBig" href="#" onclick="window.open('https://ir.linkedin.com/pub/sepehr-behnami/92/ab0/889', '_system', 'location=yes'); return false;">
                            <i class="icon ion-social-linkedin "></i>
                            linkedin Profile
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card" style="box-shadow: 10px 10px 5px #888888">
                <ul class="item item-text-wrap row">
                    <li class="col">
                        <img class="animated fadeInUpBig" src="img/ps.png" height="100%" width="100%"  style="max-height: 200px">
                    </li>

                    <li class="col col-75">
                        <h2 class="animated fadeInRightBig"  style="margin-top: 10px; margin-left: 20px  "><strong>Iman HajiKarimi</strong></h2>
                        <a class="item item-icon-left animated fadeLeftBig" href="#" onclick="window.open('https://ir.linkedin.com/pub/iman-hajikarimi/94/95/a0b', '_system', 'location=yes'); return false;">
                            <i class="icon ion-social-linkedin "></i>
                            linkedin Profile
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card" style="box-shadow: 10px 10px 5px #888888">
                <ul class="item item-text-wrap row">
                    <li class="col">
                        <img class="animated fadeInUpBig" src="img/ps.png" height="100%" width="100%" style="max-height: 200px">
                    </li>

                    <li class="col col-75">
                        <h2 class="animated fadeInRightBig"  style="margin-top: 10px; margin-left: 20px  "><strong>Payam Hosiieni</strong></h2>
                        <a class="item item-icon-left animated fadeLeftBig" href="#" onclick="window.open('https://ir.linkedin.com/pub/payam-hosseini/109/44a/771', '_system', 'location=yes'); return false;">
                            <i class="icon ion-social-linkedin "></i>
                            linkedin Profile
                        </a>
                    </li>
                </ul>
            </div>

            <div class="item item-divider animated fadeInLeftBig">
                Special Thanks:
            </div>

            <div class="card" style="box-shadow: 10px 10px 5px #888888">
                <ul class="item item-text-wrap row">
                    <li class="col">
                        <img class="animated fadeInUpBig" src="img/ps.png" height="100%" width="100%" style="max-height: 200px">
                    </li>

                    <li class="col col-75">
                        <h2 class="animated fadeInRightBig"  style="margin-top: 10px; margin-left: 20px  "><strong>Dr. Amir H. Jadidinejad</strong></h2>
                        <a class="item item-icon-left animated fadeLeftBig" href="#" onclick="window.open('https://ir.linkedin.com/in/amir-h-jadidinejad-2670905a', '_system', 'location=yes'); return false;">
                            <i class="icon ion-social-linkedin "></i>
                            linkedin Profile
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card animated animated fadeLeftBig" style="box-shadow: 10px 10px 5px #888888">
                <div class="item item-text-wrap animated fadeLeftBig">
                    <h2 class="animated fadeLeftBig" >Description:</h2>
                    <p class="animated fadeLeftBig" dir="rtl" style="text-align: justify" >
                        این نرم افزار توسط دانشجویان کارشناسی کامپیوتر و فناوری اطلاعات دانشگاه آزاد قزوین و به کمک استاد راهنما، "دکتر امیرحسین جدیدی نژاد" برای درس پروژه در نیم سال اول تحصیلی "94-95" طراحی و پیاده سازی شده است.                    </p>
                        <p style="color: blue" class="animated fadeLeftBig" >Version: 1.2.7 beta</p>
                </div>
            </div>


            <img src="img/bl.png" height="150px">


        </div>



    </ion-content>
</ion-view>



