<ion-view view-title="دانشکده برق و رایانه"">
<ion-content  ng-controller="FeedControllerCom">
    <div class="item item-input item-floating-label " >
        <label class="item-input clear-bg" >
            <i style="text-align: center"class="icon ion-ios-search placeholder-icon"></i>
            <input style="text-align: center" type="search" placeholder="جستجو" ng-model="query" >
        </label>


    </div>
    <div class="list card animated fadeInDown" ng-repeat="com_post in com_posts| filter:query" >

        <div class="item item-body" style="background-color: darkseagreen">
            <p style="text-align: right"  dir="rtl">
                {{com_post.title}}
            </p>
        </div>

        <div class=" item tabs tabs-secondary tabs-icon-left animated fadeInUpBig" style="background-color: darkslategrey ;color: #ffffff">

            <a class="tab-item"  ng-href="{{com_post.link}}" onclick='window.open(this.href, "_system", "location=yes"); return false;'>
                <i class="icon ion-link"></i>

            </a>

        </div>

    </div>
    <img src="img/bl.png" height="150px">
</ion-content>
</ion-view>