<body>
<p dir="rtl">از منوی کناری دانشکده مورد نظر را انتخاب کنید.</p>
<img class="anime " src="img/hand.png" width="30%" height="30%">
<img src="img/menu.png" width="15%" height="15%"style="margin-left: 50%">
<style>
    .anime {
        width: 30%;
        height: 30%;
        position: relative;
        -webkit-animation-name: example;
        -webkit-animation-duration: 4s;
        animation-name: example;
        animation-duration: 4s;
    }

    /* Chrome, Safari, Opera */
    @-webkit-keyframes example {
        0%   { left:0px; top:0px;}
        25%  { left:50%; top:0px;}
        50%  { left:0px; top:0px;}
        75%  { left:50%; top:0px;}
        100% { left:0px; top:0px;}
    }
    </style>

</body>